body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: palevioletred;
    color: white;
    padding: 20px;
}

header h1{
    margin: 0;
    font-size: 22px;
    text-align: center;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: #333 ;
}

main{
    max-width: 800px;
    margin: 0;
    padding: 25px;
}

section{
    margin-bottom: 20px;
}

section h2{
    margin: 0 0 20px 0;
    font-size: 18px;
}

section div{
    text-decoration: none;
    color: blue;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}